.container-usuarios{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.titulo-users{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-usuario{
  
  height: 640px;
}