.container-update{
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-image: url('../../imagenes/img-login.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
}
.div-update{
    background-color: #009CCB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 500px;
    height: 600px;
    
    
}
.formulario-update{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    outline: none;
    
}

.campo-update{
    background:transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 22px;
}

.boton-update{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
}
.titulo-update{
    color: white;
}