.titulo-home{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tarejetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.tarejetas-info{
  background-color: #737b81;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tarejetas-info:hover{
  background-color: #135287;
}
.tarejeta1 img, .tarejeta2 img, .tarejeta3 img, .tarejeta4 img, .tarejeta5 img, .tarejeta6 img {
  width: 20%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  
}

.titulo-tarjeta {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: white;
}

.info-ejer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px;
    
}

.imagen-deporte{
    width: 80%;
}

.servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px;
}

.tarjeta-servicios{
     background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.foto-tajeta-deporte{
    width: 50%;
}
.nuestros-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-pregunta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-importancia{
    background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 70%;
}
.descripcion{
  color:white
}
.texto-deporte{
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-deporte{
  display: flex;
  justify-content: center;
  align-items: center;
}

