@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

header {
  background-color: #009CCB;
  padding: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  text-align: center;
}





