.titulo-clases{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-clases{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  
}